#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e66465),
    to(#9198e5)
  );
  background: linear-gradient(#e66465, #9198e5);
}

#root > div,
.app > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  text-align: center;
}

h1 {
  font-family: 'Damion', cursive;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(25, 39, 52, 0.3);
  align-content: center;
}

h2 {
  color: #fff;
}

.card,
.card-container {
  height: 600px;
}

.card-container {
  margin-top: 20px;
  width: 90vw;
}

.swipe {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.card {
  position: relative;
  max-width: 400px;
  height: 600px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.card-details {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 20px 20px;
  padding-bottom: 10px;
}

.card-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card h3 {
  margin: 10px 5px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.button {
  border-radius: 5px;
  border: 0;
  background: white;
  font-size: 15px;
  padding: 7px 30px;
}
